.alarm_content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 280px;
  max-width: 400px;
  margin: 0 auto; /* 가운데 정렬 */
  position: relative; /* 수정된 부분 */
  left: 50%; /* 화면 가운데 정렬 */
  transform: translateX(-50%); /* 화면 가운데 정렬 */
  margin-top: -50px;
  margin-bottom: 70px;
  padding-bottom: 0px;
}

.alarm_inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* 입력 요소 간의 간격 */
}

input[type='number'],
select {
  width: 80px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  transition: border-color 0.3s;
}

input[type='number']:focus,
select:focus {
  border-color: #007bff;
  outline: none;
}

#alarm_set_btn {
  padding: 10px 20px;
  margin: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#alarm_set_btn:hover {
  background-color: #218838;
}

#alarm_list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

#alarm_list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 150px; /* 고정된 최소 너비 */
}

#alarm_list button {
  background: none;
  border: none;
  color: #ff0000;
  font-size: 16px;
  cursor: pointer;
}

.alarm_content span {
  font-size: 1.5rem;
  color: #333;
}

hr {
  height: 1px;
  width: 270px;
  background-color: black;
  border: none;
}
